.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.container2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
