.logo{
    
        width: 260px;
        height: 160px;
        border: 4px solid var(--oxford-blue);
        border-radius: 10%;
}

.btn{
    background-color: var(--oxford-blue);
    color: white;
}

.btn:hover{
    background-color: white;
    color: var(--oxford-blue);
    border-color: var(--oxford-blue);
}