.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.review {
    display: flex;
    align-items: center;
    gap: 10px;
}

.userIcon {
    display: flex;
    align-items: center;
}

.reviewContent {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.stars {
    display: flex;
    gap: 5px;
}

.comment {
    margin: 0;
}

.textarea {
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
    min-height: 100px;
    width: 300px;
}

.button {
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    width: 300px;
    padding: 10px;
}