.container {
    margin-top: 12vh;
    max-width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1C1C1C;
    font-family: 'letters';
}

.containerPrincipal {
    margin-top: 10vh;
    min-width: fit-content;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 55px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, .5);
}

.saludo{
    color: #e1ecfc;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}

.pregunta {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    font-size: 40px;
}

.info {
    font-size: 20px;
    padding: 2vh;
}

.containerButtons {
    display: grid;
    padding: 2vh;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 2vh;
    gap: 2vw;
}

.Button{
    border: 1px solid #284c75;
    border-radius: 10px;
    width: 7vw;
    height: 12vh;
    background-color: #1C1C1C;
    color: #e1ecfc;
    margin: 1vh;
    font-size: 16px;
    background: linear-gradient(0deg, #25476e, #1e3a5a, #172a41);
    transition: all ease 0.3s;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, .5);
    font-family: 'letters';
}

.Button:hover {
    background: linear-gradient(20deg, #325f92, #2c5585, #274b74);
    transform: scale(1.3);
    transition: 0.3s;
    font-weight: bold;
}

.titlePlan{
    max-height: fit-content;
    max-width: fit-content;
    margin-top: 15vh;
}

.title {
    font-size: 2.5rem;
    color: #e1ecfc;
}

.contenedor {
    padding-top: 2vh;
    padding-left: 20vh;
    padding-right: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    max-height: fit-content;
    background-color: #1C1C1C;
    color: #e1ecfc;
    margin-top:0;
    margin-bottom: 4vh;
}

.prueba {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 55vh;
    min-width: 50vh;
}

.prueba h2 {
    color:#e1ecfc;
}

.leftSection {
    text-align: center;
}

.middleSection {
    flex: 1;
    text-align: center;
}

.rightSection {
    min-width: 12vw;
    max-height: fit-content;
    text-align: center;
    margin-bottom: 2vh;
}

.planes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 45vw;
    max-height: fit-content;
    margin-bottom: 5vh;
    color: var(--jet);
}


@media screen and (max-width: 1900px) {

    .contenedor {
        width: 80vw;
    }

    .prueba{
        width: 100%;
    }

    .planes {
        width: 60vw;
    }

    .containerPrincipal {
      width: 50vw;
    }

    .containerButtons {
        width: 40vw;
    }

    .Button{
        border: 1px solid #284c75;
        border-radius: 10px;
        width: 8vw;
        height: 16vh;
        background-color: #1C1C1C;
        color: #e1ecfc;
        margin: 1vh;
        font-size: 12px;
    }

   
    
    
}