.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-right: 10vh;
}

.leftSection {
    flex: 1;
    text-align: center;
}

.rightSection {
    flex: 1;
    text-align: center;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.socialIcons>* {
    font-size: 24px;
    margin: 0 20px;
}

img {
    width: 100%;
    height: auto;
}