.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(-45deg, var(--mustard), var( --avocado), white, var(--caribbean-current));
  background-size:cover;
  overflow:visible;
  animation: container 1s ease infinite;
 }
 
 .Form {
    margin: 10px;
    background-color:var(--battleship-gray);
    height:90vh;
    width: 50%;
    border-radius: 10px;
    padding: 1%;
    font-size: large;
  }
  
  