.MainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0px 0px 100px 10px rgba(0, 0, 0, 0.427);
    width: 12vw;
    height: 32vh;
    line-height: 1.3em;
    align-items: center;
    background-color: rgb(209, 210, 249);
    transition: all 0.3s;
}

.MainContainer:hover {
    width: 14vw;
    height: 34vh;
    box-shadow: 10px px 30px 10px red;
    background-color: rgb(163, 188, 249);
}
