.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

.Form {
  margin: auto;
  background-color: var(--battleship-gray);
  width: 50%;
  border-radius: 10px;
  padding: 1%;
  font-size: large;
}
  

.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor:pointer;
  background-color: var(--sub-white);
  border: solid black 2px;
  width: 30vw;
  height: 10vh;
  border: 2px dashed #ccc;
  border-radius: 10px;
}

.dropzone.active {
  background-color: aqua;
  border: solid black 2px;
}

.image{
  width: 15vw;
  height: 20vh;
  border-radius: 10px;
}