.container {
    margin: 25vh auto 9vh;
    width: 85vw;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    width: 35%;
    height: 50vh;
    background-color: var(--jet);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 100px 50px rgba(0, 0, 0, 0.541);
}

.containerInfo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -3vh;
    right: -2vw;
    background-color: #E1ECFC;
    border-radius: 20px;
    color: #1C1C1C;
    transition: all 0.3s;
}

.containerInfo:hover {
    top: 0;
    right: 0;
}

.title {
    text-align: center;
}

.text {
    min-width: fit-content;
    padding: 1vw;
    text-align: left;
}

@media only screen and (max-width: 767px) {
    .container {
        margin: 10vh auto;
        width: 90vw;
        height: 60vh;
        flex-direction: column;
        gap: 3vh;
    }

    .box {
        width: 75%;
        height: 25vh;
    }

    .text {
        width: 90%;
        margin: 2vh auto;
        text-align: justify;
    }
}