.container{
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.cardsContainer{
  
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 3px;
    border-radius: 3px;
    align-items: center;
}
