.mainContainer {
  display: flex;
  align-items: center;
  background-color: #1c1c1c;
  background-size: 400% 400%;
  max-width: 99vw;
  min-height: fit-content;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  font-family: 'letters';
  color: #e1ecfc;
}
.errors{
  color: red;
}
.icon{
  display: flex;
  position: absolute;
  cursor: pointer;
  color: #1c1c1c;
  margin-left: 20%;
  margin-top: 4px;
  height: 25px;
  width: 25px;
}
.title {
  margin-bottom: 3vh;
  color: #e1ecfc;
}

.Form {
  margin: auto;
  background: linear-gradient(0deg, #25476e, #1e3a5a, #172a41);
  color: #e1ecfc;
  height: fit-content;
  width: 80%;
  border-radius: 10px;
  padding: 1%;
  font-size: large;
  margin-bottom: 2vh;
}

.containerFirst {
  width: 40vw;
  height: 62vh;
  background-image: url('../../assets/img/registroempresa.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  order: 1;
}

.containerSecond {
  width: 70vw;
  height: fit-content;
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


  .container3{
    display: flex;
        flex-direction: column;
        gap: 30px;
  }



  .dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    background-color: var(--sub-white);
    border: solid black 2px;
    width: 13vw;
    height: 17vh;
    border: 2px dashed #ccc;
    border-radius: 10px;
  }
  
  .dropzone.active {
    background-color: aqua;
    border: solid black 2px;
  }
  
  .image{
    width: 13vw;
    height: 17vh;
    border-radius: 10px;
  }

.button {
  color: black;
  padding: 1%;
  cursor: pointer;
  transition: all 0.1s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  margin-top: 2vh;
  z-index: 0;
  overflow: hidden;
  border: 1px solid var(--oxford-blue);
  color: var(--jet);
  font-family: 'letters';
  font-size: 1em;

}

.button:hover {
  color: white;
  font-size: 1em;
  transition: all 0.3s ease;
}

.button:hover:after {
  width: 100%;
}

.button:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: var(--jet);

}









.buttonCont {
  position: relative;
  width: min-content;
  height: min-content;
}

.buttonCont:hover .tooltip {
  display: block;
}

.tooltip {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f1f1f1;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
}

.buttonCont .tooltip::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
}















  @keyframes container {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%
    }
    100%{
        background-position: 0 50%;
    }
}


@media screen and (max-width: 1900px) {

  .dropzone{
    text-align: center;
    vertical-align: middle;
    width: 17vw;
    height: 24vh; 
  }

}
