.mainContainer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    /* border: solid black 1px ; */
    border-radius: 10px;
    width: 300px;
    height: 500px;
    gap: 30px;
    background: var(--sub-white);
    margin-top: 20px;
}

.select{
    border-radius: 3px;
    background-color: var(--battleship);
}

.button{
    background-color: var(--battleship);
    width: 7vw;
    height: 3.5vh;
}

.selectSpecial{
    border-radius: 3px;
    background-color: white;
}

.cardsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5rem;
    margin-bottom: 5rem;
    flex-wrap: wrap;
    gap: 1em;
    border: 1px;
    background-color: aqua;
}

.allFilters{
    height: 600px;
    width: 270px;
    
}

.filterContainer{
    display: flex;
    flex-direction: column;
    text-align: left;
    /* border: solid black 1px; */
    /* background-color: aqua; */
    margin-top: 33px;
}

.orderContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: aqua; */
}

.emptyFilters {
    margin-top: 35px;
}

@media screen and (max-width: 780px) {
    .mainContainer {
        width: 465px;
        max-height: 100px;
    }

    .allFilters{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 460px;
        height: 50px;
    }

    .filterContainer {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: fit-content;
        margin-top: 0px;
        margin-right: 5px;
        margin-left: 3px;
    }

    .select{
        max-width: 75px;
    }

    .selectSpecial{
        width: 140px;
    }

    .p{
        font-size: 15px;
    }

    .emptyFilters{
        max-width: 10px;
        margin-left: 1px;
        margin-top: 2px;
    }
}