.mainContainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    /* border: solid black 1px ; */
    border-radius: 7px;
    width: 25vw;
    height: 68vh;
    background: #E1ECFC;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 2vh;
}
.divInput{
    display: flex;
    align-items: center;
    justify-content: center;

}
.input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 17vw;
    height: 4vh;
    border-radius: 7px;
    border: solid black 1px;
}
.button2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 5vw;
    height: 4vh;
    border-radius: 7px;
    border: solid black 1px;
    background: var(--battleship);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: #0F0F0F;
    transition: all 0.3s ease-in-out;

}

.select {
    border-radius: 3px;
    background-color: white;
}

.button {
    background-color: var(--battleship);
    width: 15vw;
    height: 6vh;
    margin-left: 15%;
}

.selectSpecial {
    display: flex;
    flex-direction: column;
    text-align: left;
    /* border: solid black 1px; */
    /* background-color: aqua; */
    margin-top: 33px;
}

.cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5rem;
    margin-bottom: 5rem;
    flex-wrap: wrap;
    gap: 1em;
    border: 1px;
    background-color: aqua;
}

.allFilters {
    height: 55vh;
    width: 22vw;
}

.filterContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    /* border: solid black 1px; */
    /* background-color: aqua; */
    margin-top: 33px;
}

.orderContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: aqua; */
}

.emptyFilters {
    margin-top: 35px;
}

@media screen and (max-width: 780px) {
    .mainContainer {
        align-items: center;
        width: 93vw;
        height: 13vh;
        margin-top: 0vh;
    }

    .allFilters {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        width: 90vw;
        height: 12vh;
    }

    .filterContainer {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-top: 1vh;
        width: 17vw;
        height: 10vh;
    }

    .select {
        width: 16vw;
    }

    .selectSpecial {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 17vw;
        height: 10vh;
        margin-top: 1vh;
    }

    .p {
        font-size: 0.9rem;
        font-weight: bold;
        margin-bottom: 4vh;
    }

    .pSpecial {
        font-size: 0.9rem;
        font-weight: bold;
    }

    .emptyFilters {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 13vw;
        height: 10vw;
        margin-top: 3vh;
    }

    .button {
        text-align: center;
        font-weight: bold;
        font-size: 0.9rem;
        width: 13vw;
        height: 10vw;
        border-radius: 20%;
    }
}


@media screen and (max-width: 1900px) {

    .mainContainer {
        margin-left: 0;
        margin-right: 0vw;
        height: 72vh;
    
    }

    .allFilters{
        font-size: 0.95rem;
    }

    .divInput{
        margin: 0 0 0 0 ;
    }

    .input{
        margin-top: 0;
        margin-bottom: 0;
    }

    .button2{
        margin: 0 0 0 0;
        font-size: 0.75rem;
    }

    .filterContainer {
        margin-top: 1.5vh;
    }

    .selectSpecial {
        align-items: center;
        justify-content: center;
    }

    .orderContainer {
        width: 80%;
        text-align: center;
    }

    .select{
        width: 80%;
    }

    .filterContainer{
        align-items: center;
        justify-content: center;

    }

    .button{
        margin: 0 0 0 3.5vw;
        font-size: 0.75rem;
    }

    .pSpecial, .p{
        font-size: 1rem;
    }

}