.container{
    max-width: 98vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1C1C1C;
}

.containerData{
    width: 50vw;
    height: 40vh;
    border: 3px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    color: #fff;
    margin-bottom: 3vh;
}

.title{
    font-family: 'letters';
    font-weight: 400;
    font-size: 3rem;
}

.containerButton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    width: 190px;
    height: 47px;
    border-radius: 4px;
    font-size:15px;
    font-weight: 100;
    margin: 0.8vh 0.5vw;
}

.containerRutaAlternativa{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8vh;
}

.textoAlternativa, .textoLink{
    font-family: 'letters';
}

.textoAlternativa{
    color: #fff;
    margin-right: 0.8vw;
}
