.mainContainer {
    border-radius: 5px;
    min-width: 900px;
    height: 100px;
    margin-top: 3px;
    margin-bottom: 7px;
    gap: 15px;
    background: linear-gradient(45deg, #818885 20%, #babebe 50%);
}


.mainContainer:hover{
    border-radius: 5px;
    transform: scale(1.005);
    box-shadow: 2px 2px 50px  rgba(0, 0, 0, 0.2);
    transition: 0.2s ease-in-out;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cardContainer img {
    margin-left: 0px;
    margin-right: -10px;
    border-radius: 10px 0px 10px 0px;
    align-content: flex-start;
    width: 40px;
    height: 40px;
    /* border: 1    px solid rgba(255, 255, 255, 0.5); */
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1px;
    transform: rotateY(3deg) translateZ(15px);
}

.cardContainer h2 {
    margin: 0 auto;
}

.words {
    color: inherit;
    text-decoration: none;
}

.words:hover {
    color: black; /* establece el color del texto a rojo cuando se coloca el cursor sobre el enlace */
}

@media(max-width: 780px){

    .mainContainer {
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        width: 450px;
        line-height: 1em;
        background: linear-gradient(45deg, #818885 20%, #babebe 50%);
    }

    .mainContainer:hover{
        transform: scale(1.005);
        box-shadow: 2px 2px 50px  rgba(0, 0, 0, 0.2);
        transition: 0.5s ease-in-out;
    }

    .cardContainer {
        display: flex;
        flex-direction: row;
    }

    .cardContainer img {
        margin-left: 0px;
        margin-right: -10px;
        border-radius: 10px 0px 10px 0px;
        align-content: flex-start;
        width: 40px;
        height: 40px;
        /* border: 1    px solid rgba(255, 255, 255, 0.5); */
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
        position: relative;
        z-index: 1px;
        transform: rotateY(3deg) translateZ(15px);
    }

    .cardContainer h2 {
        margin: 0 auto;
    }

    .words {
        width: fit-content;
    }

    .words:hover {
        color: black; /* establece el color del texto a rojo cuando se coloca el cursor sobre el enlace */
    }
}


