.words {
}

.mainContainer {
    border-radius: 10px;
    width: 50vw;
    height: 12vh;
    display: flex;
    margin-top: 3px;
    margin-bottom: 7px;
    gap: 15px;
    background: var(--sub-white);
    padding: 10px;
    transition: 0.2s ease-in-out;
    background-color: #E1ECFC;
}

.mainContainer:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 15px var(--jet);
}

.containerInfo {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-decoration: none;
}

.temps {
    color: var(--jet);
    font-size: 140%;
}

.description {
    color: var(--jet);
    font-size: 90%;
}

.containerInfo img {
    margin-left: 0px;
    margin-right: -10px;
    border-radius: 10px 0px 10px 0px;
    align-content: flex-start;
    width: 40px;
    height: 40px;
    /* border: 1    px solid rgba(255, 255, 255, 0.5); */
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1px;
    transform: rotateY(3deg) translateZ(15px);
}

.containerView {
    width: 30%;
    border-left: 1px solid #0000001e;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.containerIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 2vh;
    margin: 1vh 0.4vw;
}

.containerText {
    padding-top: 14px;
    padding-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


.containerLastIcons {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.identification {
    width: 100%;
    height: 30%;
    font-size: 90%;
    font-weight: bold;
    text-decoration: none;
    border-radius: 6px;
    background-color: #ffaf02;
    margin: 0;
}

@media(max-width: 768px) {

    .words {
        width: fit-content;
        height: fit-content;
    }

    .mainContainer {
        border-radius: 5px;
        width: 87vw;
        height: 14vh;
        display: flex;
        margin-bottom: 0.5vh;
        gap: 10px;
        background: var(--sub-white);
        padding: 5px;
        transition: 0.2s ease-in-out;
    }

    .mainContainer:hover {
        transform: scale(1.01);
        box-shadow: 0px 0px 15px var(--jet);
    }

    .containerInfo {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-decoration: none;
    }

    .temps {
        color: var(--jet);
        font-size: 140%;
    }

    .description {
        color: var(--jet);
        font-size: 90%;
    }

    .containerInfo img {
        margin-left: 0px;
        margin-right: -10px;
        border-radius: 10px 0px 10px 0px;
        align-content: flex-start;
        width: 40px;
        height: 40px;
        /* border: 1    px solid rgba(255, 255, 255, 0.5); */
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
        position: relative;
        z-index: 1px;
        transform: rotateY(3deg) translateZ(15px);
        border: 3px solid purple;
    }

    .containerView {
        width: 30%;
        border-left: 1px solid #0000001e;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .containerIcons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8.5vw;
        height: 4vh;
        margin: 1vh 0.4vw;
    }

    .containerText {
        padding-top: 14px;
        padding-left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }


    .containerLastIcons {
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    .identification {
        width: 100%;
        height: 50%;
        font-size: 90%;
        font-weight: bold;
        text-decoration: none;
        border-radius: 6px;
        background-color: #ffaf02;
    }
}