.container{
    background: linear-gradient(-40deg, var(--mustard), var(--avocado), white, var(--caribbean-current));
    background-size: 400% 400%;
    animation: container 10s ease infinite;
}

.slide {
    display: flex;
    width: 50%;
    margin: 0 auto;
 
}

.SuggestedJob {
    margin: 30px
}

.Vacancies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.job {
    margin: 8px;
    width: 18rem;
}

@keyframes container {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%;
    }

}