.mainContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aquamarine; */
    justify-content: start;
    /* margin-top: 50px; */
}


.cardsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    overflow-y: scroll;
    max-height: 100vh;

    /* background-color: red; */
}

