.mainContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--battleship);
}

.filterAndCardsContainer{
    width: 100%;
    margin-top: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

@media (max-width: 780px) {
    .mainContainer {
        gap: 20px;
    }

    .filterAndCardsContainer {
        flex-direction: column;
        align-items: center;
    }

    .cardsDiv {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}