
.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 30vw;
    border-radius: 0 15%;
    border: 5px solid var(--battleship-gray);
    padding: 2%;
    margin-top: 3vh;
}

.infoContainer{
    
    margin-bottom: 5%;
    min-height: 20vh;
    border-top: 3px solid var(--battleship-gray);
    border-bottom: 3px solid var(--battleship-gray);
    border-radius: 0%;
    height: fit-content;
    width: 100%
}

.containerWeb{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    width: 130px;
    height: 130px;
    border: 4px solid var(--oxford-blue);
    border-radius: 100%;
}

.title{
    color: var(--oxford-blue);
    margin-bottom: 4%;
    margin-top: 4%;
    font-size: 4vh;

}


.item{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    min-height: 10vh;  
    min-width: 10vh;
    color: var(--oxford-blue);
}

.text{
    margin-top: 2%;
}

.skills{
    margin-left: 1%;
}


.webSite{
    margin-left: 30%;
    margin-right: 25%;
    margin-top: 7%;
    font-size: 200%;
}

.webSite :hover{
    color: var(--oxford-blue);
}
