
.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 30vw;
    border-radius: 0 15%;
    border: 5px solid var(--battleship-gray);
    padding: 2%;
    margin-top: 3vh;
    background: #1c1c1c;
    font-family: 'letters';
    color: #e1ecfc;
}

.infoContainer{
    color: #e1ecfc;
    margin-bottom: 5%;
    min-height: 20vh;
    border-top: 3px solid var(--battleship-gray);
    border-bottom: 3px solid var(--battleship-gray);
    border-radius: 0%;
    height: fit-content;
    width: 100%
}

.containerWeb{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    width: 130px;
    height: 130px;
    border: 4px solid var(--oxford-blue);
    border-radius: 100%;
}

.title{
    color: white;
    margin-top: 4%;
    font-size: 4vh;
}


.item{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    min-height: 10vh;  
    min-width: 10vh;
    color: #e1ecfc;
    background: linear-gradient(0deg, #25476e, #1e3a5a, #172a41);
}

.text{
    height: 20vh;
    display: flex;
    align-items: center;
}

.skills{
    margin-left: 1%;
}


.webSite{
    margin-left: 30%;
    margin-right: 25%;
    margin-top: 7%;
    font-size: 200%;
}

.webSite :hover{
    color: var(--oxford-blue);
}


@media screen and (max-width: 1900px) {

    .mainContainer{
        width: 28vw;
        min-height: 120vh;
        padding: 10%;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    .infoContainer{
        height: 40vh;
        margin-top: 5vh;
    }

    .img{
        width: 110px;
        height: 110px;
    }

.title{
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 5vh;
}

.item{
    font-size: 0.9rem;
}

.text{
    height: fit-content;
    font-size: 0.9rem;
}


}