.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    font-family: 'letters'
}

.firstTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #e1ecfc;
}

.memberCard {
    padding: 10px;
    color: #e1ecfc;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: linear-gradient(0deg, #25476e, #1e3a5a, #172a41);
    transition: transform 0.3s ease;
    width: 40vw;
    margin: 10px;
}

.memberCard:hover {
    transform: scale(1.05);
}

.memberInfo {
    display: flex;
    align-items: center;
}

.memberPhoto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.memberDetails {
    flex: 1;
    text-align: left;
}

.memberDetails h4 {
    margin-bottom: 10px;
    font-size: 20px;
}

.memberDetails p {
    margin-bottom: 5px;
    font-size: 16px;
}

.memberDetails p a {
    color: #1c1c1c;
    text-decoration: none;
    margin-right: 10px;
    align-items: center;

}

.memberDetails p a:hover {
    color: white;
}