.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

.Form {
  margin: 0.5vh auto;
  background: linear-gradient(0deg, #25476e, #1e3a5a, #172a41);
  color: #e1ecfc;
  width: 60%;
  border-radius: 10px;
  padding: 2%;
  font-size: large;
}

.containerButton{
width: 20%;
display: flex;
justify-content: center;
align-items: center;
}
  
  