.mainContainer {
    display: flex;
    background: #1C1C1C;
    background-size: 400% 400%;
    width: 100vw;
    height: fit-content;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: 'letters';
    }

.title {
  margin-top: 10vh;
  margin-bottom: 5vh;
  color: #e1ecfc;
}

  .Form {
    margin: auto;
    background: linear-gradient(0deg, #25476e, #1e3a5a, #172a41);
    color: #e1ecfc;
    width: 80%;
    border-radius: 10px;
    padding: 1%;
    font-size: large;
  }

.containerFirst {
  width: 70vw;
  height: 92vh;
  background-image: url('../../assets/img/estudios.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  order: 1;
}

.containerSecond {
  width: 90vw;
  height: fit-content;
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}