.landingDiv {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.containerDiv {
    border: 3px solid red;
    display: -webkit-flex;
    display: flex;
    height: fit-content;
}

.decorationDiv{
    -webkit-flex: 1;
    flex: 1;
    border: 5px solid black;
}

.imgDiv {
    border: 3px solid blue;
    width: fit-content;
}

.img{
    width: 90%;
}

.searchDiv {
    border: 3px solid yellow;
    width: 430px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input {

}

.paragraph {
    border: 3px solid purple;
}