.landingDiv{
    
}

.container{
    display: -webkit-flex;
    display: flex;
    border: 3px solid black;
}

.imgDiv{
    border: 3px solid red;
}

.img{
    border: 3px solid blue;
}

.searchDiv{
display: flex;
flex-direction: column;
border: 3px solid yellow;
}

.input{
    border: 3px solid green;
}

.paragraph{

}