.image {
    width: 10vw;
    height: 20vh;
    border-radius: 100%;
    border: 4px solid var(--oxford-blue);
    align-self: flex-start;
    border: 3px solid black;
}

.container {
    padding: 2%;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #e1ecfc;
    font-family: 'letters';
    background-color: #1c1c1c;
}

.companyName {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20%;
}

.datosCompany {
    padding: 2%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    border: 1px solid black;
    width: 70%;
    height: 100%;
    background: linear-gradient(0deg, #25476e, #1e3a5a, #172a41);
    color: #e1ecfc;
}

.companyData {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.Info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10%;
}
