.form-wrapper {
    width: 100%;
    padding: 20px;
    background-color: #ccc;
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.nav-wrapper {
    margin-bottom: 25px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.input-wrapper div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 800px;
}

.input-wrapper label {
    font-weight: bold;
    text-align: left;
}

.input-wrapper input {
    padding: 10px;
    border-bottom: 2px solid;
    border-radius: 3px;
}

.input-wrapper input:focus {
    outline: none;
    border-bottom: 2px solid #007bff;
}

.input-wrapper span {
    display: none;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
}

.button-wrapper button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;

}

.button-wrapper button:hover {
    background-color: #0062cc;
}

@media only screen and (max-width: 700px) {

    .input-wrapper div {
        width: 100%;
    }

    .buttonGoogle {
        margin-left: 5px;
    }
}