.image{
    width: 10vw;
    height: 20vh;
    border-radius: 100%;
    border: 4px solid var(--oxford-blue);
}

.container{
    padding: 2%;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #e1ecfc;
}

.container1{
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20%;
}


.container2{
    padding: 2%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    border: solid black 1px;
    width: 70%;
    height: 100%;
    background: linear-gradient(0deg, #25476e, #1e3a5a, #172a41);
}

.container3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;


}

.container4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.container5{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container6{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10%;
}

.containerList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; 
}

.containerListStudy{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px; 
}

.button {
    color: black;
    padding: 1%;
    cursor: pointer;
    transition: all 0.1s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    margin: 1vh;
    z-index: 0;
    overflow: hidden;
    border: 1px solid var(--oxford-blue);
    color: var(--jet);
    font-family: 'letters';
    font-size: 1em;

}

.button:hover {
    color: white;
    font-size: 1em;
    transition: all 0.3s ease;
}

.button:hover:after {
    width: 100%;
}

.button:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: var(--jet);

}