.mainContainer{
    display: flex;
    flex-direction: column;
}

.mainContainer2{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containerEmpleosRel{
    margin-left: 1%;
    width: 28%;
    border: 2px solid rgb(10, 154, 41);
    border-radius: 10px;
    display: flex;
    flex-direction: column;   
    overflow-y: scroll;
    max-height: 100vh; /* Ajusta la altura máxima según tus necesidades */

}

.mainContainer3{
    border: 2px solid rgb(10, 154, 41);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.containerButtons{
    background-color: blue;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.btn{
    width: 100%;
}

.containerDetail{
    height: 100%;
}